/*Navbar*/
.nav-home {
  align-items: center;
  background-color: #1b1b1b;
  display: flex;
  box-shadow: 0px 12px 8px #121212;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.navbar {
  position: sticky;
  top: 0;
}
.navbar .logo {
  display: none;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#log-check {
  display: none;
}
.user-label-icon {
  width: 3rem;
}
.user-log {
  display: none;
}
#log-check:checked ~ .user-log {
  align-items: center;
  display: flex;
  background-color: #1b1b1b;
  box-shadow: 0px 12px 8px #121212;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
}

.nav-button {
  font-size: 20px;
  color: rgb(96, 174, 212);
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  transition: 0.5s;
  padding: 1rem;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #272626;
}
.nav-button span {
  display: none;
}

.nav-text {
  color: rgb(96, 174, 212);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
}

.nav-text p {
  margin: 0;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
}

.nav-text button {
  margin: 0;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  padding: 0;
  color: rgb(96, 174, 212);
  transition: 0.5s;
  padding: 5px;
  border-radius: 3px;
}

.nav-text button:hover {
  background-color: #272626;
}

#img-nav-icon {
  width: 50px;
  height: 50px;
  border-radius: 160px;
  border: 3px solid #666;
}

#log-out {
  color: #74deed;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
}

#log-out:hover {
  background-color: #272626;
}

#svg {
  height: 42px;
  width: 42px;
}
.img-tweet {
  width: 50px;
  height: 50px;
  border-radius: 160px;
  border: 3px solid #666;
}
.img-tweet.card {
  border: 3px solid #74deed;
}
#tweet-input {
  border: none;
  padding: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 5px;
  width: 100%;
}
#tweet-input:focus {
  outline: 2px solid #39c;
}
#publicar-button {
  border: none;
  background-color: #363e6f;
  font-size: 20px;
  padding: 0.5rem;
  color: #74deed;
  border-radius: 5px;
  transition: 0.5s;
  text-transform: uppercase;
  margin-top: 0.5rem;
  width: 100%;
}
#publicar-button:hover {
  background-color: #434972;
}
.tweet-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  justify-content: space-around;
  padding: 0.5rem;
}
.tweet-container.new {
  margin: 1rem;
  background-color: #74deed;
}
.tweet-input-group {
  display: flex;
  width: 100%;
}

/* Lista de tweets */
.container-cards {
  width: 100%;
}

#NoTweets {
  margin-top: 20vh;
}

.sesion-verify {
  width: 100%;
  height: 100vh;
  background-color: #434972;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sesion-verify h2 {
  font-size: 40px;
}

@media screen and (min-width: 576px) {
  .navbar .logo {
    display: block;
  }
  .Home-Container > .logo {
    display: none;
  }
  .log-label {
    display: none;
  }
  .user-log {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #1b1b1b;
    box-shadow: 0px 12px 8px #121212;
  }
  .nav-home {
    position: sticky;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    width: calc(100vw / 1.4);
    height: auto;
  }
  .nav-button svg {
    display: none;
  }
  .nav-button span {
    display: block;
  }
  .nav-items {
    align-items: center;
    justify-content: start;
  }
  .nav-items li:last-child {
    width: 100%;
  }
  .tweet-container {
    width: calc(100vw / 1.3);
  }
  .tweet-container.new {
    flex-direction: row;
  }
  .tweet-container.new {
    margin: 1rem auto;
  }
  #publicar-button {
    padding: 0.8rem;
    margin: 0 auto;
    width: fit-content;
  }
  .nav-text {
    margin-left: 1.5rem;
    margin-right: 2rem;
  }
  .boton-tweet {
    margin: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .tweet-container {
    width: calc(100vw / 1.6);
  }
}
@media screen and (min-width: 992px) {
  .tweet-container {
    width: calc(100vw / 2);
  }
  
}
